parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            'secret_value_for_symfony_demo_application' 

    default_target: "projets/liste"
    web_dir:        "%kernel.root_dir%/../web"
    lib_dir:        "%kernel.root_dir%/../web/library"
    projects_dir:    "%kernel.root_dir%/../web/projects"
    bordereaux_dir:  ".bordereaux"
